<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">
        <script src="ejs_production.js"></script>
        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>
    </head>
    <body>

        <div id="resultDiv"></div>

        <script>
            $(document).ready(function() {

                $.getJSON("people.json", function(res) {
                    var str = $("#testTemplate").html();
                    var data = {people:res};
                    var rendered = new EJS({text:str}).render(data);
                    $("#resultDiv").html(rendered);
                });
                
            });
        </script>
        
        <script id="testTemplate" type="text/x-ejs-template">
            <% for(var i=0; i<people.length; i++) { %>
                <h1>Hello <%= people[i].name %></h1>

                <% if(people[i].name.length < 4) { %>
                    Your name is kind of small.<br/>
                <% } %>
                
                It is great that you are <%= people[i].age %> years old!<br/>
            <% } %>
        </script>
    </body>
</html>
